<h2>Request to run command</h2>

<p>A request to run command: </p>
<pre>
<%= cmd %> <%= args %>
</pre>
<p><strong>To confirm command execution</strong>, you must follow <a href="<%=url(token_url)%>">this link</a> or copy and paste the following URL: </p>
<p>
<%= url(token_url) %>
</p>
